<html>

<head></head>

<body>
  <form method="post" action="/api/cities">
    <div>
      <label for="cityId">City ID</label>
      <input id="cityId" name="id" type="number">
    </div>
    <div>
      <label for="cityName">City Name</label>
      <input id="cityName" name="name" type="text">
    </div>
    <div>
      <label for="countryName">Country Name</label>
      <input id="countryName" name="country" type="text">
    </div>
    <div>
      <label for="capitalName">Country Capital Name</label>
      <input id="capitalName" name="capital" type="text">
    </div>
    <div>
      <label for="lat">Latitude</label>
      <input id="lat" name="lat" type="number">
    </div>
    <div>
      <label for="long">Longitude</label>
      <input id="long" name="long" type="number">
    </div>
    <button type="submit">Add City</button>
  </form>
</body>

</html>